* {
  margin: 0px;
  padding: 0px;
  font-family: Consolas,monaco,monospace; 
  background-color: black;
}

@media only screen and (max-width: 480px) {
  * {
    font-size: 26px !important;
  }

  .terminal {
    border: 5px solid #790030 !important;
    width: 80% !important;
    height: 80% !important;
    padding: 1rem !important;
    margin: 1px !important;
  }
}

a {
  color: lime;
}