@import '~open-color/open-color.scss';
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/gotham.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap');

$font-family: 'Montserrat', 'Noto Sans KR', 'Monaco', 'Inconsolata', sans-serif, Arial;
$text-color: $oc-gray-2;

* {
    -webkit-font-smoothing: antialiased;
    padding: 0rem;
}

body {
    // background-color: #1b1f25;
    font-family: $font-family;
    // color: $text-color;
}

html,
body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

body,
a,
div,
span,
small,
p,
li,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
input {
    // color: $text-color;
    margin: 0;
    padding: 0;
    line-break: normal;
    word-break: keep-all;
}

h1,
h2 {
    font-size: 2rem;
    // color: $oc-gray-1#edf0f3;
}

a {
    text-decoration: none;
    // color: $text-color;
}

p {
    font-size: 1.125rem;
}

.categoryNumber {
    // font-family: Inconsolata;
    font-size: 1.725rem;
}

input:focus {
    outline: 0;
}

input {
    font-family: $font-family;
}

@media screen and (min-width: 768px) {
    html {
        font-size: 14px;
    }

    .tagText {
        padding-left: 1px;
    }
}

@media screen and (max-width: 768px) {
    html {
        font-size: 12px;
    }

    .tagText {
        display: none;
    }
}

.noScroll {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.noScroll::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

.separator {
    width: 60%;
    border: rgba(255, 255, 255, 0.3) solid 1px;
    border-radius: 2px;
    padding: 0;
    margin: 0 auto;

    position: relative;
}
