body.dark-mode {
    $bgcolor: #1b1f25;
    $fontcolor: #e9ecef;
    $cardcolor: #1b1f25;
    $sh1color: #111418;
    $sh2color: #252a32;
    $theme: 0;

    background-color: $bgcolor;
    transition: color 0.6s cubic-bezier(0, 0.51, 0.42, 0.84);
    color: $fontcolor;

    input {
        color: $fontcolor;
    }

    .Header,
    .Introduction,
    .ViewList,
    .Bar,
    .recDropDown,
    .recommend__control,
    .SubmitButton {
        //background-color: #262c34;
        background-color: $cardcolor;
        box-shadow: 8px 8px 16px $sh1color, -8px -8px 16px $sh2color;
        color: $fontcolor;
        transition: color 0.6s cubic-bezier(0, 0.51, 0.42, 0.84);
    }

    .recommend__option:hover {
        background: $sh1color;
    }

    .recommend__menu,
    .recommend__menu-list {
        background: $cardcolor;
    }

    .Modal {
        background-color: #262c34;

        .content > .title {
            color: $fontcolor;
        }
    }

    .card {
        color: $fontcolor;
    }

    a,
    div,
    span,
    small,
    p,
    li,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    ul,
    input,
    button {
        color: $fontcolor;
    }

    .logo {
        filter: invert($theme);
    }

    .leftBorder {
        border-left: 1px solid white;
    }

    .separator {
        color: $fontcolor;
    }
}

body.light-mode {
    //white, #181818, #f8f9fa, #d0d1d2, #ffffff, 1
    $bgcolor: white;
    $fontcolor: #181818;
    $cardcolor: #f1f3f5;
    $sh1color: #d0d1d2;
    $sh2color: #ffffff;
    $theme: 0;

    background-color: #e9ecef;
    transition: color 0.6s cubic-bezier(0, 0.51, 0.42, 0.84);
    color: $fontcolor;

    input {
        color: $fontcolor;
    }

    .Header,
    .Introduction,
    .ViewList,
    .Bar,
    .recDropDown,
    .recommend__control,
    .SubmitButton {
        border: none;
        //background-color: #262c34;
        background-color: $cardcolor;
        box-shadow: 8px 8px 16px $sh1color, -8px -8px 16px $sh2color;
        color: $fontcolor;
        transition: color 0.6s cubic-bezier(0, 0.51, 0.42, 0.84);
    }

    button:focus {
        border-radius: 50px;
        background: $cardcolor;
        box-shadow: inset 20px 20px 60px #cdcfd0, inset -20px -20px 60px #ffffff;
    }

    .recommend__option:hover {
        background: $sh1color;
    }

    .recommend__menu,
    .recommend__menu-list {
        background: $cardcolor;
    }

    .card {
        color: $fontcolor;
    }

    a,
    div,
    span,
    small,
    p,
    li,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    ul,
    input {
        color: $fontcolor;
    }

    .Modal {
        background-color: $cardcolor;

        .content .title {
            color: $fontcolor;
        }
    }

    .logo {
        filter: invert(1);
    }

    .leftBorder {
        border-left: 1px solid black;
    }

    .separator {
        color: $fontcolor;
    }
}

body.light-mode,
body.dark-mode {
    .Logout {
        color: red;
    }

    .tagText,
    .Introduction > h1,
    .Introduction > p {
        color: white !important;
    }

    input {
        background-color: #f1f3f5;
    }

    .ViewList {
        transition: top 0.4s ease;
    }

    .tui-tooltip {
        span {
            color: white;
        }
    }

    .te-editor {
        pre,
        span {
            color: black;
        }
    }

    .te-preview {
        background: white;
    }
}
